* {
	color:         white;
	font-family:    Arial, Helvetica, sans-serif;
	font-size:      small;
	vertical-align: top;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

b {
	font-weight: bold;
}

body {
	background-color: #1B2835;
	text-align:       center;
	width:            99%;
	height:           98%;
}

button {
	background-color: #202020;
	cursor:           pointer;
}

footer {
	padding:    10px;
	text-align: center;
	width:      100%;
}

footer img {
	margin-left:    10px;
	margin-right:   5px;
	vertical-align: middle;
}

footer a {
	vertical-align: middle;
}

html {
	width:  100%;
	height: 100%;
}

img {
	border: none;
}

input[type="number"], input[type="text"] {
	color: black;
}

input[type="range"] {
	vertical-align: middle;
}

select, option {
	color: black;
}

table {
	border-collapse: collapse;
}

/* CLASSES */

.form_input_number form {
	width: 800px;
}

.form_input_number_3 input {
	width: 80px;
}

.icon {
	width:          30px;
	height:         30px;
	vertical-align: middle;
	padding-right:  5px;
}

.leaderboard_728x90 {
	background-color: #202020;
	margin:           0px;
	padding:          0px;
	width:            728px;
	height:           90px;
	overflow:         hidden;
	display:          inline-block;
}

.tabs {
	border-bottom:    1px solid white;
	background-color: #EEEEEE;
	overflow:         hidden;
	border-radius:    5px 5px 0px 0px;
}

.tabs button {
	background-color: inherit;
	border:           none;
	color:            black;
	float:            left;
	padding:          10px;
}

.tabs button:hover, .tab button:hover {
	background-color: #606060;
	color:            white;
}

.tabs button.active {
	background-color: #404040;
	color:            white;
}

.tab {
	border-bottom: 1px solid white;
	display:       none;
	overflow:      hidden;
}

.tab button, .tab input {
	border:  none;
	color:   white;
	float:   left;
	padding: 10px;
}

.tab.active {
	display: block;
}

/* IDs */

#components {
	border: 1px solid white;
	margin:  5px 0px 5px 0px;
	padding: 5px;
}

#components select {
	margin: 1px;
}

#component_details {
	background-color: #404040;
	border:           1px solid white;
	border-spacing:   0px;
	border-radius:    5px;
	overflow:         auto;
	padding:          10px;
	width:            415px;
	height:           415px;
}

#component_details div {
	margin-bottom: 10px;
}

#component_details hr {
	margin: 0px;
}

#component_details label {
	vertical-align: middle;
}

#component_details p {
	margin: 0px;
}

#component_details_remove {
	text-align: center;
}

#interactions th {
	font-size:  small;
	text-align: right;
}

#interactions td {
	font-size:    small;
	padding-left: 10px;
}

#left_menu {
	padding-left: 10px;
	text-align:   left;
}

#load_model {
	border: 2px outset lightgray;
	margin: 5px;
}

#load_model input {
	display: none;
}

#load_model label {
	padding: 10px;
}

#load_model label:hover {
	cursor: pointer;
}

#main {
	background-color: #202020;
	border:           1px solid white;
	border-spacing:   0px;
	border-radius:    5px;
	margin-left:      auto;
	margin-right:     auto;
	width:            1100px;
}

#right_menu {
	padding:    0px 0px 10px 5px;
	text-align: left;
}

#right_menu button {
	padding: 5px 10px 5px 10px;
}

#right_menu button:hover {
	background-color: #606060;
}

#render_settings {
	padding:    10px;
	text-align: left;
}

#render_settings input[type="checkbox"] {
	margin: 2px 15px 0px 5px;
}

#render_settings select {
	margin: 0px 15px 0px 5px;
}

#scene_label {
	float:   left;
	padding: 6px 10px 0px 0px;
}

#scene_load input {
	display: none;
}

#scene_load label {
	padding: 5px 0px 5px 0px;
}

#scene_load label:hover {
	cursor: pointer;
}

#scene_save a {
	padding: 5px 0px 5px 0px;
}

#texture_load input {
	display: none;
}

#texture_load label {
	padding: 5px 0px 5px 0px;
}

#texture_load label:hover {
	cursor: pointer;
}

#title {
	font-size: medium;
}
