<!DOCTYPE html>
<html lang="en" data-ng-app="mainApp" data-ng-controller="mainController">

<head>
    <title>{{ appName }} v.{{ appVersion }}</title>
    <meta charset="UTF-8">
    <link type="text/css" href="css/styles.css" rel="stylesheet" />
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gl-matrix/2.4.0/gl-matrix-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lz-string/1.4.4/lz-string.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/simplex-noise/2.4.0/simplex-noise.min.js"></script>
    <script src="js/globals.js"></script>
    <!--<script src="js/ai/AIEngine.js"></script>-->
    <!--<script src="js/audio/AudioEngine.js"></script>-->
    <!--<script src="js/font/FontEngine.js"></script>-->
    <!--<script src="js/network/NetworkEngine.js"></script>-->
    <!--<script src="js/scene/Component.js"></script>-->
    <!--<script src="js/scene/Light.js"></script>-->
    <!--<script src="js/scene/Scene.js"></script>-->
    <!--<script src="js/scene/SceneManager.js"></script>-->
    <script src="js/input/InputManager.js"></script>
    <script src="js/physics/RayCast.js"></script>
    <script src="js/physics/PhysicsEngine.js"></script>
    <script src="js/render/RenderEngine.js"></script>
    <script src="js/render/ShaderManager.js"></script>
    <script src="js/render/ShaderProgram.js"></script>
    <script src="js/scene/Buffer.js"></script>
    <script src="js/scene/Camera.js"></script>
    <script src="js/scene/FrameBuffer.js"></script>
    <script src="js/scene/HUD.js"></script>
    <script src="js/scene/Mesh.js"></script>
    <script src="js/scene/Model.js"></script>
    <script src="js/scene/Skybox.js"></script>
    <script src="js/scene/Terrain.js"></script>
    <script src="js/scene/Texture.js"></script>
    <script src="js/scene/Water.js"></script>
    <script src="js/scene/WaterFBO.js"></script>
    <script src="js/system/Utils.js"></script>
    <script src="js/time/TimeManager.js"></script>
    <script src="js/main.js"></script>
</head>

<body>
    <div class="leaderboard_728x90">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <ins class="adsbygoogle" data-ad-client="ca-pub-4533895183221047" data-ad-slot="2414665538"></ins>
        <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
    </div>
    <div class="leaderboard_728x90">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <ins class="adsbygoogle" data-ad-client="ca-pub-4533895183221047" data-ad-slot="2414665538"></ins>
        <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
    </div>
    <p>{{ appName }} v.{{ appVersion }} - {{ GPU }} - {{ FPS }} FPS</p>
    <div id="main">
    <table>
    <tr>
    <td colspan="2" style="padding-top:10px">
        <table style="width:100%">
        <tr>
        <td style="text-align:left">
            <input
                type="file"
                accept=".json"
                onchange="angular.element(this).scope().loadModelFile(this.files)"
            />
        </td>
        <td data-ng-repeat="s in icons">
            <a data-ng-click="iconClick(s.name)">
                <img class="icon" data-ng-src="{{ s.file }}" src="#" title="" alt="" />
                {{ s.title }}
            </a>
        </td>
        </tr>
        </table>
        <hr style="margin-top:10px" />
    </td>
    </tr>
    <tr>
    <td colspan="2">
        <table id="render_settings">
        <tr>
        <th>Aspect Ratio:</th>
        <td>
            <select
                data-ng-options="r.value as r.name for r in aspectRatios"
                data-ng-model="aspectRatio"
                data-ng-init="aspectRatio=aspectRatios[0].value"
                onchange="RenderEngine.SetAspectRatio(this.value)">
                <option style="display:none" value="">Aspect Ratio</option>
            </select>
        </td>
        <th>FOV:</th>
        <td>
            <select
                data-ng-options="f.value as f.name for f in fovs"
                data-ng-model="FOV"
                data-ng-init="FOV=fovs[0].value"
                onchange="RenderEngine.Camera.SetFOV(this.value)">
                <option style="display:none" value="">FOV</option>
            </select>
        </td>
        <th>Draw Mode:</th>
        <td>
            <select
                data-ng-options="m for m in drawModes"
                data-ng-model="drawMode"
                data-ng-init="drawMode=drawModes[0]"
                onchange="RenderEngine.SetDrawMode(this.value)">
                <option style="display:none" value="">Draw Mode</option>
            </select>
        </td>
        <th>Draw Bounding Volumes:</th>
        <td>
            <input type="checkbox" onclick="RenderEngine.DrawBoundingVolume=this.checked" />
        </td>
        </tr>
        </table>
        <hr style="margin:10px 0px 0px 0px" />
    </td>
    </tr>
    <tr>
    <td id="webgl_td_canvas">
        <canvas id="webgl_canvas" width="800" height="450">
            Your browser does not support HTML5!
        </canvas>
        <br />
        <hr />
        <p>{{ state }}</p>
        <hr />
        <h5>Interactions (similar to Blender)</h5>
        <table id="interactions">
            <tr data-ng-repeat="i in interactions">
                <th>{{ i.header }}</th>
                <td>{{ i.data   }}</td>
            </tr>
        </table>
        <br />
    </td>
    <td id="right_menu">
        <b>Scene</b>
        [ 
        <a data-ng-href="{{ sceneURL }}" data-ng-mouseup="saveScene()" download="scene.scene">SAVE</a>
        | 
        <label for="load_scene" id="load_scene_label">LOAD</label>
        <input
            type="file"
            accept=".scene"
            id="load_scene"
            onchange="angular.element(this).scope().loadSceneFile(this)"
        />
        | 
        <a data-ng-click="clearScene()">CLEAR</a>
        ]
        <hr />
        <select
            id="selected_component"
            style="width:49%"
            size="5"
            data-ng-options="c.Name() for c in components"
            data-ng-model="component"
            data-ng-change="selectComponent(component); child = component.Children()[0];">
            <option style="display:none" value="">Components</option>
        </select>
        <select
            id="selected_child"
            style="width:49%"
            size="5"
            data-ng-options="c2.Name() for c2 in component.Children()"
            data-ng-model="child"
            data-ng-change="selectChild(child)">
        </select>
        <br />
        <br />
        <div id="component_details">
        <div data-ng-show="showTest1()">
            <p style="text-align:center" data-ng-show="showTest2()">
                <button data-ng-click="removeSelectedComponent()">REMOVE {{ selectedComponent.Name() }}</button>
                <button data-ng-click="removeSelectedChild()">REMOVE {{ selectedChild.Name() }}</button>
            </p>
            <br data-ng-show="!showTest2()" />
            <table>
            <tr data-ng-show="showTest1()">
            <th>Name</th>
            <td>
                <input
                    type="text"
                    size="38"
                    data-ng-value="selectedChild.Name()"
                    data-ng-model="name"
                    data-ng-change="selectedChild.SetName(name)"
                />
            </td>
            </tr>
            <tr data-ng-show="showTest1()"><td colspan='2'>&nbsp;</td></tr>

            <tr data-ng-show="showTest3()">
            <th>Location</th>
            <td>
                <form class='form_input_number_3'>
                X
                <input
                    type="number"
                    step="0.01"
                    data-ng-model="location_x"
                    data-ng-value="selectedChild.Position()[0]"
                    data-ng-change="selectedChild.SetPosition([ location_x, selectedChild.Position()[1], selectedChild.Position()[2] ])"
                />
                Y
                <input
                    type="number"
                    step="0.01"
                    data-ng-model="location_y"
                    data-ng-value="selectedChild.Position()[1]"
                    data-ng-change="selectedChild.SetPosition([ selectedChild.Position()[0], location_y, selectedChild.Position()[2] ])"
                />
                Z
                <input
                    type="number"
                    step="0.01"
                    data-ng-model="location_z"
                    data-ng-value="selectedChild.Position()[2]"
                    data-ng-change="selectedChild.SetPosition([ selectedChild.Position()[0], selectedChild.Position()[1], location_z ])"
                />
                </form>
            </td>
            </tr>
            
            <tr data-ng-show="showTest3()">
            <th>Rotation (rad)</th>
            <td>
                <form class='form_input_number_3'>
                X
                <input
                    type="number"
                    step="0.01"
                    data-ng-model="rotation_x"
                    data-ng-value="selectedChild.Rotation()[0]"
                    data-ng-change="selectedChild.SetRotation([ rotation_x, selectedChild.Rotation()[1], selectedChild.Rotation()[2] ])"
                />
                Y
                <input
                    type="number"
                    step="0.01"
                    data-ng-model="rotation_y"
                    data-ng-value="selectedChild.Rotation()[1]"
                    data-ng-change="selectedChild.SetRotation([ selectedChild.Rotation()[0], rotation_y, selectedChild.Rotation()[2] ])"
                />
                Z
                <input
                    type="number"
                    step="0.01"
                    data-ng-model="rotation_z"
                    data-ng-value="selectedChild.Rotation()[2]"
                    data-ng-change="selectedChild.SetRotation([ selectedChild.Rotation()[0], selectedChild.Rotation()[1], rotation_z ])"
                    data-ng-readonly="selectedChild.Name() === 'Camera'"
                />
                </form>
            </td>
            </tr>
            <tr data-ng-show="showTest4()">
            <th>Scale</th>
            <td>
                <form class='form_input_number_3'>
                X
                <input
                    type="number"
                    step="0.01"
                    data-ng-model="scale_x"
                    data-ng-value="selectedChild.Scale()[0]"
                    data-ng-change="selectedChild.SetScale([ scale_x, selectedChild.Scale()[1], selectedChild.Scale()[2] ])"
                />
                Y
                <input
                    type="number"
                    step="0.01"
                    data-ng-model="scale_y"
                    data-ng-value="selectedChild.Scale()[1]"
                    data-ng-change="selectedChild.SetScale([ selectedChild.Scale()[0], scale_y, selectedChild.Scale()[2] ])"
                />
                Z
                <input
                    type="number"
                    step="0.01"
                    data-ng-model="scale_z"
                    data-ng-value="selectedChild.Scale()[2]"
                    data-ng-change="selectedChild.SetScale([ selectedChild.Scale()[0], selectedChild.Scale()[1], scale_z ])"
                />
                </form>
            </td>
            </tr>
            <tr data-ng-show="showTest4()">
            <th>Auto-Rotate</th>
            <td>
                <form class='form_input_number_3'>
                X
                <input
                    type="number"
                    step="0.01"
                    data-ng-model="auto_rotation_x"
                    data-ng-value="selectedChild.AutoRotation()[0]"
                    data-ng-change="selectedChild.SetAutoRotation([ auto_rotation_x, selectedChild.AutoRotation()[1], selectedChild.AutoRotation()[2] ])"
                />
                Y
                <input
                    type="number"
                    step="0.01"
                    data-ng-model="auto_rotation_y"
                    data-ng-value="selectedChild.AutoRotation()[1]"
                    data-ng-change="selectedChild.SetAutoRotation([ selectedChild.AutoRotation()[0], auto_rotation_y, selectedChild.AutoRotation()[2] ])"
                />
                Z
                <input
                    type="number"
                    step="0.01"
                    data-ng-model="auto_rotation_z"
                    data-ng-value="selectedChild.AutoRotation()[2]"
                    data-ng-change="selectedChild.SetAutoRotation([ selectedChild.AutoRotation()[0], selectedChild.AutoRotation()[1], auto_rotation_z ])"
                />
                <input
                    type="checkbox"
                    style="width:16px"
                    data-ng-model="auto_rotate"
                    data-ng-click="selectedChild.SetAutoRotate(auto_rotate)"
                    data-ng-checked="selectedChild.AutoRotate()"
                />
                </form>
            </td>
            </tr>
            <tr>
            <td colspan='2'>&nbsp;</td>
            </tr>
            <tr data-ng-show="showTest4()">
            <th>{{ showTest8() ? 'Background' : 'Color' }}</th>
            <td>
                <input
                    type="color"
                    style="width:88%"
                    data-ng-model="color"
                    value="#000000"
                    data-ng-value="color='#' + (showTest4() ? selectedChild.ColorHex() : '000000')"
                    data-ng-init="color='#' + (showTest4() ? selectedChild.ColorHex() : '000000')"
                    data-ng-change="selectedChild.SetColorHex(color); this.value=''"
                />
            </td>
            </tr>
            <tr data-ng-show="showTest8()">
            <th>Opacity (alpha)</th>
            <td>
                0%
                <input
                    type="range"
                    style="width:70%"
                    min="0"
                    max="1"
                    step="0.01"
                    data-ng-model="color_alpha"
                    data-ng-value="selectedChild.Color()[3]"
                    data-ng-change="selectedChild.SetColor([ selectedChild.Color()[0], selectedChild.Color()[1], selectedChild.Color()[2], color_alpha ])"
                />
                100%
                <br />
            </td>
            </tr>
            <tr data-ng-show="showTest8()">
            <th>Transparency</th>
            <td>
                <input
                    type="checkbox"
                    data-ng-model="transparency"
                    data-ng-click="selectedComponent.SetTransparent(transparency)"
                    data-ng-checked="selectedComponent.Transparent()"
                />
            </td>
            </tr>
            <tr>
                <td colspan='2'>&nbsp;</td>
            </tr>
            <tr data-ng-show="showTest8()">
            <th>Text</th>
            <td>
                <input
                    type="text"
                    size="38"
                    data-ng-value="selectedComponent.Text()"
                    data-ng-model="text"
                    data-ng-change="selectedComponent.Update(text)"
                />
            </td>
            </tr>
            <tr data-ng-show="showTest8()">
            <th>Text Align</th>
            <td>
                <select
                    data-ng-options="a for a in alignments"
                    data-ng-model="text_align"
                    data-ng-init="text_align = (showTest8() ? selectedComponent.TextAlign() : alignments[4])"
                    data-ng-change="selectedComponent.SetTextAlign(text_align)">
                    <option style="display:none" value="">Text Align</option>
                </select>
            </td>
            </tr>
            <tr data-ng-show="showTest8()">
            <th>Text Font</th>
            <td>
                <select
                    data-ng-options="f for f in fonts"
                    data-ng-model="text_font"
                    data-ng-init="text_font = (showTest8() ? selectedComponent.TextFont() : fonts[0])"
                    data-ng-change="selectedComponent.SetTextFont(text_font)">
                    <option style="display:none" value="">Text Font</option>
                </select>
            </td>
            </tr>
            <tr data-ng-show="showTest8()">
            <th>Text Size</th>
            <td>
                <input
                    type="number"
                    min="10"
                    max="100"
                    step="1"
                    data-ng-model="text_size"
                    value="20"
                    data-ng-value="(showTest8() ? selectedComponent.TextSize() : 20)"
                    data-ng-change="selectedComponent.SetTextSize(text_size)"
                />
            </td>
            </tr>
            <tr data-ng-show="showTest8()">
            <th>Text Color</th>
            <td>
                <input
                    type="color"
                    style="width:88%"
                    data-ng-model="text_color"
                    value="#000000"
                    data-ng-value="(showTest8() ? selectedComponent.TextColor() : '#000000')"
                    data-ng-init="text_color=(showTest8() ? selectedComponent.TextColor() : '#000000')"
                    data-ng-change="selectedComponent.SetTextColor(text_color)"
                />
            </td>
            </tr>
            <tr data-ng-show="showTest8()">
            <th>Texture</th>
            <td>
                <input type="text" size="28" data-ng-value="selectedChild.Texture(0).File()" readonly />
                <input type="file" accept="image/*" onchange="angular.element(this).scope().loadTextureFile(this, 0)" />
                <button data-ng-click="selectedChild.RemoveTexture(0)">X</button>
            </td>
            </tr>
            <tr data-ng-show="showTest8()">
            <td colspan='2'>&nbsp;</td>
            </tr>
            <tr data-ng-show="!showTest8()" data-ng-repeat="t in getTextures() track by $index">
            <th style="vertical-align:top; padding-top:5px">
                Texture #{{ $index + 1 }}
            </th>
            <td>
                <input type="text" size="28" data-ng-value="t.File()" readonly />
                <input
                    data-ng-show="showTest5()"
                    type="file" accept="image/*"
                    onchange="angular.element(this).scope().loadTextureFile(this, angular.element(this).scope().$index)"
                />
                <button data-ng-show="showTest5()" data-ng-click="selectedChild.RemoveTexture($index)">X</button>
                <div style="padding-top:2px" data-ng-show="t.File().length > 0">
                <div data-ng-show="showTest5()">
                Flip Y
                <input
                    type="checkbox"
                    style="margin-right:15px"
                    data-ng-model="flip"
                    data-ng-click="t.SetFlipY(flip)"
                    data-ng-checked="t.FlipY()"
                />
                Repeat
                <input
                    type="checkbox"
                    style="margin-right:15px"
                    data-ng-model="repeat"
                    data-ng-click="t.SetRepeat(repeat)"
                    data-ng-checked="t.Repeat()"
                />
                </div>
                Tiling U
                <input
                    type="number"
                    style="width:50px"
                    step="0.01"
                    min="1.0"
                    data-ng-value="t.Scale()[0]"
                    data-ng-model="scale_u"
                    data-ng-change="t.SetScale([ scale_u, t.Scale()[1] ])"
                />
                V
                <input
                    type="number"
                    style="width:50px"
                    step="0.01"
                    min="1.0"
                    data-ng-value="t.Scale()[1]"
                    data-ng-model="scale_v"
                    data-ng-change="t.SetScale([ t.Scale()[0], scale_v ])"
                />
                </div>
            </td>
            </tr>
            <tr data-ng-show="!showTest8()"><td colspan='2'>&nbsp;</td></tr>
            <tr data-ng-show="showTest9()">
            <th>Bounding Volume</th>
            <td>
                <select onchange="angular.element(this).scope().selectedChild.SetBoundingVolume(this.value); this.value='';">
                    <option
                        data-ng-repeat="v in boundingVolumes"
                        data-ng-selected="selectedChild.BoundingVolumeType() == v">
                        {{ v }}
                    </option>
                </select>
            </td>
            </tr>
            <tr data-ng-show="showTest6()">
            <th>Size</th>
            <td>
                <input
                    type="number"
                    style="width:80px; margin-right:37px"
                    step="1"
                    min="5"
                    max="100"
                    data-ng-value="selectedComponent.Size()"
                    data-ng-model="size"
                    data-ng-change="selectedComponent.Resize(size, selectedComponent.Octaves(), selectedComponent.Redistribution())"
                />
            </td>
            </tr>
            <tr data-ng-show="showTest6()">
            <th>Octaves</th>
            <td>
                1.0
                <input
                    type="range"
                    step="1"
                    min="1"
                    max="10"
                    data-ng-value="selectedComponent.Octaves()"
                    data-ng-model="octaves"
                    data-ng-change="selectedComponent.Resize(selectedComponent.Size(), octaves, selectedComponent.Redistribution())"
                />
                10.0
            </td>
            </tr>
            <tr data-ng-show="showTest6()">
            <th>Redistribution</th>
            <td>
                0.01
                <input
                    type="range"
                    step="0.01"
                    min="0.01"
                    max="10.0"
                    data-ng-value="selectedComponent.Redistribution()"
                    data-ng-model="redistribution"
                    data-ng-change="selectedComponent.Resize(selectedComponent.Size(), selectedComponent.Octaves(), redistribution)"
                />
                10.0
            </td>
            </tr>
            <tr data-ng-show="showTest7()">
            <th>Speed</th>
            <td>
                0.01
                <input
                    type="range"
                    step="0.01"
                    min="0.01"
                    max="0.5"
                    data-ng-value="selectedComponent.FBO().Speed()"
                    data-ng-model="speed"
                    data-ng-change="selectedComponent.FBO().SetSpeed(speed)"
                />
                0.5
            </td>
            </tr>
            <tr data-ng-show="showTest7()">
            <th>Wave Strength</th>
            <td>
                0.01
                <input
                    type="range"
                    step="0.01"
                    min="0.01"
                    max="1.0"
                    data-ng-value="selectedComponent.FBO().WaveStrength()"
                    data-ng-model="wave_strength"
                    data-ng-change="selectedComponent.FBO().SetWaveStrength(wave_strength)"
                />
                1.0
            </td>
            </tr>
            <tr>
            <td colspan='2'>&nbsp;</td>
            </tr>
            </table>
        </div>
        </div>
        <br />
        <br />
    </td>
    </tr>
    </table>
    </div>
    <p>
        <a href="http://www.jammary.com" target="_blank">{{ copyright }}</a> | {{ tested }}
    </p>
    <p>
        <a id="w3_validator_html" href="http://validator.w3.org/check?uri=referer" target="_blank">
            <img src="https://www.w3.org/html/logo/badge/html5-badge-h-solo.png" alt="HTML5 Powered" title="HTML5 Powered" />
        </a>
        <a id="w3_validator_css" href="http://jigsaw.w3.org/css-validator/check/referer" target="_blank">
            <img src="http://jigsaw.w3.org/css-validator/images/vcss-blue" alt="Valid CSS!" title="Valid CSS!" />
        </a>
    </p>
    <div class="leaderboard_728x90">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <ins class="adsbygoogle" data-ad-client="ca-pub-4533895183221047" data-ad-slot="2414665538"></ins>
        <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
    </div>
    <div class="leaderboard_728x90">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <ins class="adsbygoogle" data-ad-client="ca-pub-4533895183221047" data-ad-slot="2414665538"></ins>
        <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
    </div>
    <br />
    <br />
</body>

</html>
